<div class="table-container">
  <h1 class="text-4xl font-extrabold text-gray-800 px-2">Point Table CWC 2023</h1>
  <table class="text-center mt-8 min-w-full bg-white border border-gray-200 rounded-lg">
    <thead>
      <tr class="bg-blue-400 text-white">
        @for (heading of tableHeading; track $index) {
          <th class="w-1/4 py-3 px-4 text-left">{{heading}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (team of pointTable; track $index) {
        <tr class="hover:bg-white hover:scale-110 transition-all cursor-pointer"
        [ngClass]="{
          'bg-gray-200' :$index <= 4,
          'bg-red-200': $index > 4
        }">
          @if ($index>0) {
            @for (data of team; track $index) {
              <td class="py-3 px-4 border-b border-gray-200">{{ data }}</td>
            }
          }
        </tr>
      }
    </tbody>
  </table>

</div>
